{
    "endpoint": "/example/{id}",
    "method": "GET",
    "output_encoding": "json",
    "backend": [
        {
            "method": "GET",
            "host": ["https://jsonplaceholder.typicode.com"],
            "url_pattern": "/users/{id}"
        }
    ]
},
{
    "endpoint": "/example",
    "method": "POST",
    "output_encoding": "json",
    "backend": [
        {
            "method": "POST",
            "host": ["https://jsonplaceholder.typicode.com"],
            "url_pattern": "/users"
        }
    ]
},
{
  "endpoint": "/stubbed",
  "headers_to_pass": ["Content-Length"],
  "backend": [
    {
      "host": ["http://ignore.this.endpoint"],
      "url_pattern": ""
    }
  ],
  "extra_config": {
    "github.com/devopsfaith/krakend/proxy": {
      "static": {
        "strategy": "always",
        "data": {
          "i-am-stubbed": {
              "id": 42,
              "bar": "foobar"
          }
        }
      }
    }
  }
}
