{
  "endpoint": "/{accountID}/usage",
  "method": "GET",
  "headers_to_pass": ["Content-Length"],
  "backend": [
    {
      "host": ["http://stubbed.response"],
      "url_pattern": ""
    }
  ],
  "extra_config": {
    "github.com/devopsfaith/krakend/proxy": {
      "static": {
        "strategy": "always",
        "data": {
                  "types": [
                    {
                      "typeName": "API Requests",
                      "displayName": "Content API",
                      "from": "1651406442",
                      "to": "1653998462",
                      "usageAmount": 6578,
                      "validUsage": true
                    },
                    {
                      "typeName": "API Requests",
                      "displayName": "Web Portal",
                      "from": "1651406442",
                      "to": "1653998462",
                      "usageAmount": 74,
                      "validUsage": false
                    }
                  ]
                }
      }
    }
  }
},
{
  "endpoint": "/{accountID}",
  "method": "PUT",
  "headers_to_pass": ["Content-Length"],
  "backend": [
    {
      "host": ["http://stubbed.response"],
      "url_pattern": ""
    }
  ],
  "extra_config": {
    "github.com/devopsfaith/krakend/proxy": {
      "static": {
        "strategy": "always",
        "data": {
        }
      }
    }
  }
},
{
  "endpoint": "/{accountID}/summary",
  "method": "GET",
  "headers_to_pass": ["Content-Length"],
  "backend": [
    {
      "host": ["http://stubbed.response"],
      "url_pattern": ""
    }
  ],
  "extra_config": {
    "github.com/devopsfaith/krakend/proxy": {
      "static": {
        "strategy": "always",
        "data": {
                  "state": "ACTIVE",
                  "reportFrequency": "MONTHLY",
                  "lastProcessed": "1651363200"
                }
      }
    }
  }
}
